/* Estilos para la página de inicio */
body {
    background: linear-gradient(to bottom, #ff99cc, #ffcccc);
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    text-align: center;
}

p {
    color: blue;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}